@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    font-family: 'Merriweather', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.testimonial{
    line-height: 28px;
    text-align: justify;

    &-container{
        background-color: #476ce4;
        color: #fff;
        border-radius: 15px;
        margin: 20px auto;
        padding: 50px 80px;
        max-width: 768px;
        position: relative;
    }
}

.fa-quote{
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;

    &-right{
        left: 40px;
    }
    &-left{
        right: 40px;
    }
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;

    & &-image{
        border-radius: 50%;
        height: 75px;
        width: 75px;
        object-fit: cover;
    }

    & &-details{
        margin-left: 10px;
    }

    & &name{
        margin: 0;
    }

    & .role{
        font-weight: normal;
        margin: 10px 0;
    }
}

.progress-bar{
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

@keyframes grow{
    0%{
        transform: scaleX(0);
    }
}

@media (max-width: 768px){
    .testimonial-container{
        padding: 22px 36px;
    }

    .fa-quote{
        display: none;
    }
}