@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  & .action-buttons {
    & button {
      position: absolute;
      left: 35%;
      top: 50%;
      z-index: 100;
    }
    & .down-button {
      transform: translateX(-100%);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    & .up-button {
      transform: translateY(-100%);
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  & > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  & h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
  }
}

.right-slide {
  height: 100%;
  width: 65%;
  position: absolute;
  top: 0;
  left: 35%;
  background-color: #aaa;
  transition: transform 0.5s ease-in-out;
  & > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  &:hover {
    color: #222;
  }
  &:focus {
    outline: none;
  }
}
