@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', sans-serif;
    background-color: #8e44ad;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.counter-container{
    margin: 0px 40px;
    text-align: center;
}

.counter{
    font-size: 65px;
    margin-top: 10px;
}

@media (max-width: 600px){
    body{ flex-direction: column; }
    .counter-container{ margin-top: 10px; }
}