@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #f0f0f0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 20px 0;
}

h2 {
  font-size: 45px;
}

.about {
  &-a,
  &-b,
  &-c,
  &-d,
  &-e {
    margin: 3rem 0;
  }
}

.logo {
  width: 250px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.main-nav {
  background-color: rebeccapurple;
  color: #fff;
  padding: 10px 0;
  border-bottom: 6px solid rgba(255, 255, 255, 0.2);
  & .container {
    display: flex;
    // align-items: center;
    justify-content: space-between;
  }
  & ul {
    display: flex;
    align-items: center;
  }
  & li {
    margin: 5px 15px;
    font-size: 17px;
  }
  & a {
    color: #fff;
    &:hover {
      color: #ccc;
    }
  }
}

.showcase {
  height: 600px;
  position: relative;
  background: url("../img/showcase-bg.png") no-repeat center center;
  z-index: 2;
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    z-index: 2;
  }
  & h2 {
    color: rgb(156, 78, 233);
    margin-bottom: 22px;
    font-size: 36px;
  }
  & h1 {
    font-size: 54px;
    letter-spacing: 3px;
    line-height: 1.7;
  }
  & h4 {
    color: #ccc;
    margin: 30px 0 20px 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 2, 39, 0.9);
    z-index: -2;
  }
}

.main-footer {
  background: rgba(38, 13, 61, 0.9);
  & .container {
    min-height: 100px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & .social {
    display: flex;
    align-items: center;
    & p {
      margin-right: 20px;
    }
    & a {
      margin-right: 10px;
    }
  }
  & ul li {
    line-height: 2;
  }
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.about {
  &-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
    & .repo {
      color: #fff;
      border: 1px solid #ccc;
      height: 100px;
      padding: 5px 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-decoration: none;
      margin-top: 20px;
      & i {
        margin-right: 20px;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  &-b {
    padding: 2rem;
    text-align: center;
    background: rgba(38, 13, 61, 0.3);
    & .courses {
      margin: 30px 0;
      & a {
        margin: 10px;
      }
    }
  }
  &-c {
    margin: 30px 0 50px 0;
    border-bottom: #ccc solid 1px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    & h2 {
      margin-bottom: 20px;
    }
    & div {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &-d {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: justify;
  }
  &-e {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: justify;
  }
  &-d img,
  &-e img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}

.bg-primary {
  color: #fff;
  & a {
    color: #fff;
    &:hover {
      color: #0181f5;
    }
  }
}

.bg-secondary {
  background-color: #0181f5;
  color: #fff;
  & a {
    color: #fff;
    &:hover {
      color: #7918f2;
    }
  }
}

.btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  background: rebeccapurple;
  padding: 12px 30px;
  border-radius: 0px;
  transition: all 0.5s ease 0s;
  &-secondary {
    color: #fff;
    background: #0181f5;
  }
  &-primary {
    color: #fff;
    background: #3b0281;
  }
  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      height: 30px;
      width: 30px;
      margin-right: 10px;
    }
  }
  &:hover {
    transform: scale(0.98);
    opacity: 0.9;
    color: #f4f4f4 !important;
  }
}

.text {
  &-primary {
    color: #7918f2;
  }
  &-secondary {
    color: #0181f5;
  }
  &-success {
    color: #ffa500;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  // grid-gap: 2px;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  & .day {
    background-color: rebeccapurple;
    border-bottom-left-radius: 5px;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  & > div {
    position: relative;
    cursor: pointer;
    height: 100%;
    &:hover .content {
      opacity: 0.98;
    }
  }
  & .content {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9901ff;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease-in;
    & p {
      margin: 15px 5px;
    }
  }
}

@media (max-width: 960px) {
  .showcase h1 {
    font-size: 42px;
  }

  .projects {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 700px) {
  .showcase h1 {
    font-size: 32px;
  }
  .logo {
    width: 145px;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-footer {
    & ul {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .logo {
    width: 75%;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .about-a {
    grid-template-columns: 1fr;
    & .repo {
      height: 100px;
    }
  }

  .about-b {
    img {
      width: 100%;
    }
  }
  .about {
    &-e,
    &-d {
      grid-gap: 0;
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  .main-footer {
    & .container {
      flex-direction: column;
    }
  }
}
